./.config/albert/org.albert.extension.websearch/{23eaed11-19e5-403a-8010-63088c604ab5}.

./.config/albert/org.albert.extension.websearch/{5cf2b67b-950c-4ba0-988a-a2dda21642b7}.

./.config/albert/org.albert.extension.snippets/snippets.db
